<%= @logo %>
<div class="top_space"></div>
<%= @hackney_address %>

<%= @tenant_address %>

<div>
  <p>
  <strong>Important notice of a shortfall in your repayment agreement</strong>
  </p>

  <p>
  According to my records you haven’t paid your repayment agreement, which you made on [date agreement was input].  This means that your current rent arrears have increased to [current total balance]..
  </p>

  <p>
  Being in arrears is a breach of your Tenancy Agreement.  If you do not keep to a repayment agreement to repay your arrears the Council may take legal action against you and this could result in you losing your home.
  </p>

  <p>
  <strong>You need to pay [shortfall amount is actual balance - expected balance] immediately to bring your agreement back to the agreed amount, and to prevent any further action being taken against you.</strong>
  </p>

  <p>
  If your financial circumstances change or if you are unable to pay the agreed amounts you should contact this office immediately in one of the following ways.
  </p>

  <ul>
    <li>By telephone on 020 8356 3100</li>
    <li>By email at income.services@hackney.gov.uk</li>
    <li>In person at 1 Hillman Street, E8 1FB</li>
  </ul>

  <p>
  Through a third party such as a family member, friend, carer, or an advice agency such as the Citizens Advice Bureau. To ensure confidentiality, we will ask for proof that you have given them permission to discuss your account with us.
  </p>

  <p>
  <strong>What will happen next?</strong>
  </p>

  <p>
  If you contact us, it will help us to understand why you have not kept to this agreement. We can help you if you are struggling financially by either telling you about benefits you might be entitled to, or referring you for budgeting support or debt advice. We can only help you if you talk to us. 
  </p>

  <p>
    Yours sincerely,
  </p>

  <p>
    Credit Controller
    <br>
    London Borough of Hackney
  </p>
</div>

<%= @payment_options %>
